// all colors
$main-color: #fff;
$main-bg-color: #000;
// all colors

// all fonts
$font-light: 100 20px Roboto, sans-serif;
$font-light-i: italic 100 20px Roboto, sans-serif;
$font: 400 20px Roboto, sans-serif;
$font-bold: 900 20px Roboto, sans-serif;
$font-bold-i: italic 900 20px Roboto, sans-serif;
// all fonts
