$main-color: #fff;
$main-bg-color: #000;

$font-light: 100 Roboto, sans-serif;
$font-light-i: italic 100 Roboto, sans-serif;
$font: 400 Roboto, sans-serif;
$font-bold: 900 Roboto, sans-serif;
$font-bold-i: italic 900 Roboto, sans-serif;
