#races {
  background-size: cover;
  background-repeat: no-repeat;
  -moz-box-shadow: inset 0px 0px 75px #000000;
  -webkit-box-shadow: inset 0px 0px 75px #000000;
  box-shadow: inset 0px 0px 75px #000000;
}

#race-character {
  top: 10%;
  opacity: 0;
  right: -700px;
  position: absolute;
}
.active-character {
  transition: all 0.8s linear;
  right: 40px !important;
  opacity: 1 !important;
}

.classItem {
  display: flex;
  flex-direction: column;
}

.classItem img {
  width: 40px;
}

.classItem h4 {
  font-size: 20px;
  color: black;
}

.classItem p {
  font-size: 10px;
}
